* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #14C6DE;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.header__subTitle {
    width: 100%;
    font-size: 16px;
    display: block;
}

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: #2237F5;
    border-radius: 4px;
}

.card__title {
    flex-direction: row;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.card__subTitle {
    font-size: 14px;
    flex-direction: row;
    color: white;
}

.card__input {
    width: 150px;
    height: 25px;
    font-size: 14px;
    color: #2237F5;
    border-radius: 4px;
    border: none;
}

.card__button {
    margin: 5px;
    border: none;
    width: 150px;
    height: 25px;
    border-radius: 4px;
    background-color: #12FA53;
}