// Variables
$back: rgb(47,55,99);
$background: rgb(31,41,91);
$white: rgb(255,255,255);
$purple: rgb(141,91,233);
$pink: rgb(206,130,199);

// Resets

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $back;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: $white;
}

button {
  cursor: pointer;
  font-size: 1.4rem;
}

// Header

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.header__title {
  font-size: 4rem;
  font-weight: 700;
}

.section__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29rem;
  height: 32rem;
  background-color: $background;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 2rem;
}

.card__title {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0 0;
}

.card__label {
  font-size: 1.2rem;
}

.card__input {
  width: 25rem;
  height: 4.5rem;
  color: #2237F5;
  border-radius: 2rem;
  border: none;
  padding: 0 1rem;
  font-size: 1.6rem;

  &::placeholder {
    color: $background;
  }
  &:focus {
    outline: solid 0.3rem $pink;
  }
}

.card__button {
  color: $white;
  margin: 0.5rem;
  border: none;
  width: 25rem;
  height: 4.5rem;
  border-radius: 2rem;
  background-color: $purple;
  cursor: pointer;

  &:hover {
    background-color: $pink;
  }
}